.ui.segment{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

iframe, #vid_container{
    width: 100%;
    height: 100%;
}

.ui.show.button{
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.3;
}

.ui.show.button:hover{
    opacity: 1;
}
#input_box{
    width: 500px;
}
